.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
 
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content h1{
	color:blue;
  font-size: 40px;
  margin-left: 20px;
}

.content h5{
  font-weight: bold;
  margin-left: 20px;
  font-size: 26px;

}
 
.content img{
  margin-top: 10px;
  display: block;
  margin-left: 80px;
  margin-right: 10px;
  width: 50%;
}


.content p{
  margin-top: 30px;
  margin-left: 25px; 
  width: 80%;
  text-align: justify;
  font-size: 18px;
}

.about-name{
  margin-top: 40px;
  font-size: 24px;
  margin-left: 20px;
   
}

.text{

  font-weight: bold;
  text-align: center;
  margin-right: 4rem;
  margin-bottom: 1rem;
  
}

.wrapper img{
  margin-top: 30px;
  display: block;
  margin-left: 90px;
  margin-right: auto;
  width: 40%;
}